.App {
    text-align: center;
    font-weight: 100;
}

.base-div-content {
    margin-top: 60px;
}

.pointer {
    cursor: pointer;
}

.navbar a {
    color: white !important;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.navbar-brand {
    font-weight: bold;
}

.navbar,
.navbar-default {
    background-color: #17A2B8;
}

label {
    height: 22px !important;
}

table th {
    border-top: none !important;
}

textarea {
    height: 120px;
}

.line-scale div {
    background-color: #17a2b8 !important;
}

.input-row {
    padding-left: 34px !important;
}

.form-title {
    font-size: 1.8rem;
    font-weight: 100;
}

.form-subtitle {
    font-size: 1.5rem;
    font-weight: 100;
}

.thin-font {
    font-weight: 100;
}