.App {
    text-align: center;
}

.navbar a {
    color: white !important;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.navbar-brand {
    font-weight: bold;
}

.navbar,
.navbar-default {
    background-color: #17A2B8;
}

label {
    height: 22px !important;
}

table th {
    border-top: none !important;
}

.img-500 {
    max-height: 500px !important;
}

.carousel-caption h3, p {
    color: black;
    text-shadow: 1px 0 0 #fff,
    -1px 0 0 #fff,
    0 1px 0 #fff,
    0 -1px 0 #fff,
    1px 1px #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff;
}